
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="manager-head">
    <div class="container">
        <div class="manager-header">
            <span>NBNB篮球约战平台后台管理系统</span>
            <span>管理员: @Session["MGName"]</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="manager-type col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <ul>
                <li><a href="/NewsManager/Index">战报管理</a></li>
                <li><a href="/PostsManager/Index">帖子管理</a></li>
                <li><a href="/GoodsManager/Index">商品管理</a></li>
                <li><a href="/UsersManager/Index">用户管理</a></li>
                <li><a href="/VideosManager/Index">视频管理</a></li>
                <li><a href="#">评论管理</a></li>
                <li><a href="#">用户留言</a></li>
            </ul>
        </div>
        <div class="manager-body col-lg-10 col-md-10 col-sm-10 col-xs-8">
            <div class="manager-index text-center">
                <h4>欢迎您！管理员</h4>
                <p>数据无价，请谨慎操作！</p>
            </div>            
        </div>
    </div>
</div>


